<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>MySQLConnect</servlet-name>
  	<display-name>MySQLConnect</display-name>
  	<description></description>
  	<servlet-class>controller.MySQLConnect</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MySQLRegister</servlet-name>
  	<display-name>MySQLRegister</display-name>
  	<description></description>
  	<servlet-class>controller.MySQLRegister</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CityController</servlet-name>
  	<display-name>CityController</display-name>
  	<description></description>
  	<servlet-class>controller.CityController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SessionOut</servlet-name>
  	<display-name>SessionOut</display-name>
  	<description></description>
  	<servlet-class>controller.SessionOut</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DatabasePost</servlet-name>
  	<display-name>DatabasePost</display-name>
  	<description></description>
  	<servlet-class>controller.DatabasePost</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>QuizController</servlet-name>
  	<display-name>QuizController</display-name>
  	<description></description>
  	<servlet-class>controller.QuizController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>QuestionController</servlet-name>
  	<display-name>QuestionController</display-name>
  	<description></description>
  	<servlet-class>controller.QuestionController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>QuizDatabasePost</servlet-name>
  	<display-name>QuizDatabasePost</display-name>
  	<description></description>
  	<servlet-class>controller.QuizDatabasePost</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PuzzleControl</servlet-name>
  	<display-name>PuzzleControl</display-name>
  	<description></description>
  	<servlet-class>controller.PuzzleControl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>scoreController</servlet-name>
  	<display-name>scoreController</display-name>
  	<description></description>
  	<servlet-class>controller.scoreController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>MySQLConnect</servlet-name>
  	<url-pattern>/MySQLConnect</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MySQLRegister</servlet-name>
  	<url-pattern>/MySQLRegister</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CityController</servlet-name>
  	<url-pattern>/CityController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SessionOut</servlet-name>
  	<url-pattern>/SessionOut</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DatabasePost</servlet-name>
  	<url-pattern>/DatabasePost</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>QuizController</servlet-name>
  	<url-pattern>/QuizController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>QuestionController</servlet-name>
  	<url-pattern>/QuestionController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>QuizDatabasePost</servlet-name>
  	<url-pattern>/QuizDatabasePost</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PuzzleControl</servlet-name>
  	<url-pattern>/PuzzleControl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>scoreController</servlet-name>
  	<url-pattern>/scoreController</url-pattern>
  </servlet-mapping>
</web-app>
